network:
  version: 2
  ethernets:
    default_interface:
      match:
        name: "en*"
      optional: true
      link-local: []
      dhcp4: false
      dhcp6: false
      addresses:
        - {{IP_ADDRESS}}/{{CIDR_SUFFIX}}
      routes:
        - to: default
          via: {{GATEWAY_IP}}
      nameservers:
        addresses: [{{NAMESERVERS}}]
